/*모든 페이지 공통*/
body{
    background-color: #e9fff3f5;
    overflow-x: hidden;
    overflow-y: scroll;
}
header {
    padding-top: 15px;
    background-color: #fff;
    margin: 0;
    border-radius: 30px 30px 0 0;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}
.logo {
    margin-left: 10%;
    width: 160px;
}
a {
    text-decoration: none;
    color: rgb(72, 72, 72);
    font-weight: bold ;
}
#nav {
    display: inline;
    list-style-type: none;
    position: absolute;
    left: 49.5%;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0; 
}
.navli {
    float: left;
    padding: 14px 25px;
    font-size: 20px;
    border-radius: 20px 20px 0 0;
    /* 마우스 올렸을때 페이드 효과 */
	transition: all .3s ease-out;
}
/*네비게이션바 기본*/
.navli:first-child {
    background-color: #ffeeeb;
}
.navli:nth-child(2) {
    background-color: #e5eeff;
}
.navli:nth-child(3) {
    background-color: #f2e6ff;
}
.navli:nth-child(4) {
    background-color: #e9fff3f5;
}
/*네이게이션바 hover*/
.navli:first-child:hover {
    background-color: #f6cac1;
}
.navli:nth-child(2):hover {
    background-color: #a1c0f9;
}
.navli:nth-child(3):hover {
    background-color: #ddc1fb;
}
.navli:nth-child(4):hover {
    background-color: #cdfde3;
}

/*여기서부터 페이지마다 다름!*/

/* ------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------- */


#helpMain{
    float: left;
}

#help {
    display: inline;
    list-style-type: none;
    position: absolute;
    margin-left: 20px;
    height: 600px;
	margin-top: 35px;
}

.helpli {
    background-color: #fff;
    height: 100px;
    width: 800px;
    padding: 10px;
    text-align: center;
    margin-bottom: 5px;
    border-radius: 15px;
    border-color: #d9fce9ee;
    border-style: solid;
    border-width: 1px;
}

span {
    /*helpli 내용 상하 간격 조정*/
    height: 95px;
    line-height: 100px;
    font-size: larger;
}

.lia {
    /*helpli 클릭 영역 설정*/
    display:inline-block;       /*상하*/
    width: 600px;               /*좌우*/
}

.helplia { /* helplia 좌우 설정 */
	margin-left: 25px;
}

/*답변*/
#answer {
    display: inline;
    position: absolute;
    background-color: #fff;
    border-style: solid;
    border-radius: 15px;
    border-color: #d9fce9ee;
    border-width: 1px;
    width: 600px;
    height: 600px;
    margin-left: 50%;
    margin-top: 15px;
    overflow-y: scroll;
}
#answer::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}

#answer::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #a9f8da; /* 스크롤바의 색상 */
    
    border-radius: 10px;
}

#answer::-webkit-scrollbar-track {
    background: rgba(33, 244, 146, 0.133);  /*스크롤바 뒷 배경 색상*/
}

/* ------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------- */

/* 버튼 클릭 시 나오는 페이지 설정*/
.helpAnswer {
	/* width, height = 페이지 크기 설정, border-radius = 테두리 원형 설정 */
	width: 49.5%;
	height: 80%;
	border-radius: 20px 0 0 20px;
	/* transition = 애니메이션 설정, cubic-bezier = 곡선 형태의 애니메이션 */
	transition: all 1.0s cubic-bezier(0.54, 0.35, 0.29, 0.99);
	/* font-size = memopage의 폰트 설정, color = memopage의 글자 색상 설정 (작동안됨) */
	font-size: 24px;
	color: #fff;
	overflow-y: scroll; 
	position: absolute; 
    margin-top: 30px;
    border-color: #d9fce9ee;
    border-style: solid;
    border-width: 1px;
}
.helpAnswer::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}

.helpAnswer::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #a9f8da; /* 스크롤바의 색상 */
    
    border-radius: 10px;
}

.helpAnswer::-webkit-scrollbar-track {
    background: rgba(33, 244, 146, 0.133);  /*스크롤바 뒷 배경 색상*/
}

/* 페이지 색 설정 */
#answer1 {
    background-color: #fff;
}
#answer2 {
    background-color: #fff;
}
#answer3 {
    background-color: #fff;
}
#answer4 {
    background-color: #fff;
}
#answer5 {
    background-color: #fff;
}
#answer6 {
    background-color: #fff;
}

/* 페이지 오른쪽으로 200% 이동*/
#answer1, #answer2, #answer3, #answer4, #answer5, #answer6 {
    left: 200%;
  }

/* 버튼 클릭 시 #answer1, 2, 3, 4, 5, 6 페이지를 타겟으로 변경 */
#t1:target #answer1, #t2:target #answer2, #t3:target #answer3, #t4:target #answer4, #t5:target #answer5, #t6:target #answer6{
	/* 페이지를 left 200% -> 50%로 이동 */
	left: 50%;
	/* transition-delay = 애니메이션 딜레이 설정, !important = 해당 속성을 최우선 순위로 설정 */
	transition-delay: .3s !important;
}

.helplia {
    pointer-events: none;
}

p {
    font-size: large;
    margin-left: 30px;
    color: #000;
    font-weight: bold;
}

.img {
    width: 850px;
    margin-left: 20px;
}

s {
    color: #b7b7b7;
}

.link {
    margin-left: 150px;
    font-size: larger;
}

.email {
    color: rgb(46, 136, 55);
}

.linc {
    height: 165px;
    background-color: #dcdcdc;
    text-align : center;
    padding-top: 45px;
    margin-top: 850px;
    width: 100%;
}

.lincLogo {
    height: 50px;
    opacity: 0.6;
}

.lincText {
    color: rgba(0, 0, 0, 0.600);
    font-size: medium;
}
